<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <DD.Properties.Settings>
            <setting name="WindowHeight" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </DD.Properties.Settings>
    </userSettings>
</configuration>